# Pneumothorax-Segmentation-Data- dataset
siim-acr-pneumothorax.zip
siim-acr-pneumothorax/
__pycache__/

# Python cache files
*.pyc
# Environment files
.env
.venv/
env/
venv/
# VSCode settings
.vscode/

# Logs
logs/

#models
best_model_unetplusplus.pth

testRun.py
# sample_batch.png
predictions.png
req2.txt
sample_bathch.png
# training_curves.png

#datasets
BraTS2020_training_data/
FLAIR/

report/
deep_research/